*{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

#header{
    height: 69px;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 1;
}

.logo{
    float: right;
    display: inline-flex;
}

.header{
    text-decoration: underline;
    display: inline-flex;
    float: left;
}
.missionBG{
    display: flex;
    height: 700px;
    width: 1200px;
    background-image: url(/resources/img-mission-background.webp);
}

.mission{
    align-items: center;

}

.month{
    align-items: center;
    display: flex;
}

.picturebox{
    display: flex;
}

.pictures{
    flex-direction: row;
    flex-wrap: wrap;
}

