*{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.header{
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 69px;
   width: 100%;
   z-index: 2;
   background-color: black;
}

.logo{
    float: left;
    height: 50px;
}

.headerbuttons{
    text-decoration: underline;
    display: inline-flex;
    justify-content: right;
    margin-left: 20px;
    float:right;
    margin-right: 0;

}
.missionBG{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./resources/img-mission-background.webp);
    width: 1200px;
    height: 700px;
}


.mission{
    width: 100%;
}



.month{
    align-items: center;
    display: flex;
    width: 1000px;
    justify-content: center;
    flex-direction: column;
}

.picturebox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;

}

.pictures img{
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.locations{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./resources/img-locations-background.webp);
    width: 1200px;
    height: 500px;
    flex-direction: column;
}

.locationhead{
    width: 100%;
    margin-top: 60px;
    background-color: transparent;
    
}

.spotstotal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 80%;
    background-color: transparent;
}
.spots{
    opacity: 1;
    height: 300px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;

}

.copyright{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
}

