*{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

#header{
   position: fixed;
   height: 69px;
   width: 100%;
   z-index: 2;
   background-color: black;
   align-items: center;
}

.logo{
    float: left;
    display: inline-flex;
    height: 50px;
}

.header{
    text-decoration: underline;
    display: inline-flex;
    float: right;
}
.missionBG{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 700px;
    background-image: url(./resources/img-mission-background.webp);
}

.missionBG img {
    z-index: -1;
}

.mission{
    width: 100%;
    background-color: black;
    display: flex;
}

.month{
    align-items: center;
    display: flex;
    width: 1000px;
    justify-content: center;
}

.picturebox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pictures{
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 10px;
    align-items: center;
}

